<footer>
    <img src="https://cdn.dribbble.com/userupload/11407729/file/original-339c99b87ae14f8f0d7f25431b4de1f4.png?crop=0x0-1600x1200&resize=450x338&vertical=center">
    <span>algo</span>
</footer>