<header>
    <img src="https://cdn.dribbble.com/userupload/11407729/file/original-339c99b87ae14f8f0d7f25431b4de1f4.png?crop=0x0-1600x1200&resize=450x338&vertical=center">
    <nav>
        <a href="/">Personas</a>
        <a href="/viviendas">Viviendas</a>
        <a href="/municipios">Municipios</a>
        <a href="/departamentos">Departamentos</a>
    </nav>
</header>

<style>
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
        background-color: #d6d6d6;
    }
    nav {
        display: flex;
        gap: 2rem;
    }
</style>